.card{
    width: 450px;
    height: 250px;
    margin-top: 10px;
    
}
.cardTitle{
    font-size: 40px;
    
    text-align: end;
}
.cardInfo{
    border: 1px solid white;
    border-radius: 40px 10px;
    font-size: 20px;
    padding: 20px;
    margin: 10px 0px;
    margin-left: 0px;
    animation: 1s slide-right;
}
@keyframes slide-right {
    from {
      margin-right: 40%;
    }
    to {
      margin-left: 0%;
    }
  }
  